use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :agera_one, AgeraOneWeb.Endpoint,
  secret_key_base: "0000000000000000000000000000000000000000000"

config :agera_one, AgeraOne.Chain, chain: "localhost:1337"

# Configure your database
config :agera_one, AgeraOne.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "username",
  password: "username",
  database: "database",
  pool_size: 15
